  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    background-color: #23252C;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
  }



  .container {
    width: 318px;
    background-color: #1A1B21;
    overflow: auto;
    border-radius: 15px;
  }

  h2 {
    color: #fff;
    padding-top: 1em;
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    padding-top: 0.5em;
    color: #F3BF99;
    font-size: 0.8rem;
  }

  .p-2 {
    color: #F5F5F5;
    font-size: 0.6rem;
  }

  .main-part {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }

  .content {
    padding-inline: 2em;
    padding-top: 2em;
  }

  .content h4 {
    color: #fff;
  }

  .content p {
    text-align: justify;
    color: white;
    font-weight: lighter;
  }

  .content .child-two {
    padding-top: 1em;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: #161619;
    margin-top: 1em;
    padding: 1.2em 0;
  }

  .icon {
    margin: 0 10px;
    padding: 5px;
    font-size: 2rem;
    color: #161619;
    border-radius: 8px;
    background-color: #918E9B;
  }
